<!-- Config file for the game -->

<config>
  <app>
    <title>The Cliffborn Islands v0.2</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
	<camera initialX="0" initialY="0"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="4"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>  
  
  <file_system>
    <path>data.zip</path>
  </file_system>
  
  <player>
    <position x="2" y="24"/>
	<size width="20" height="23"/>
	<margin x="2" y="2" colisionMargin="3"/>
	<speed>
		<movement initialVertical="-2.5f" vertical="-2.5f" horizontal="1.2f" godmode="1.6f"/>
		<physics initialFalling="0.0f" falling="0.0f" acceleration="0.15f"  jumpNumber="0"/>
	</speed>
  </player>

  <harpy speed ="1">
    <position x="150" y="30"/>
  </harpy>
  
  <hook speed="3">
	  <spawnPositionRight x="11" y="3"/>
  	<spawnPositionLeft x="-52" y="3"/>
	  <size width="11" height="13"/>
  </hook>

  <map>
	<blitSpeed backgrounds="0.7f" fog="0.85f"/>
    <folder>maps/</folder>
  </map>  
  
  <scene1>
	<camera cameraLimit="-8570" playerLimit="2374"/>
  </scene1>

</config>