<!-- Config file for the game -->

<config>
  <app>
    <title>The Cliffborn Islands</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
	<camera initialX="0" initialY="0"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="4"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>  
  
  <file_system>
    <path>data.zip</path>
  </file_system>
  
  <player>
    <position x="2" y="24"/>
	<speed>
		<movement initialVertical="-2.5" vertical="-2.5f" horizontal="1.2"/>
		<physics initialFalling="0.0" falling="0.0" acceleration="0.15"/>
	</speed>
  </player>

  <map>
    <folder>maps/</folder>
  </map>  
  
  <scene1>
	<camera cameraLimit="-8570" playerLimit="2374"/>
  </scene1>

</config>