<!-- Config file for the game -->

<config>
  <app>
    <title>The Cliffborn Islands</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
	<camera initialX="0" initialY="0"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="4"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>  
  
  <file_system>
    <path>data.zip</path>
  </file_system>
  
  <player>
    <position x="2" y="24"/>
	<animations>
		<idle loop="true" speed="0.07">
			<sprite x="2" y="184" w="22" h="25"/>
			<sprite x="33" y="184" w="24" h="25"/>
			<sprite x="65" y="184" w="24" h="25"/>
			<sprite x="97" y="184" w="24" h="25"/>
			<sprite x="130" y="184" w="22" h="25"/>
			<sprite x="163" y="184" w="21" h="25"/>
		</idle>
	</animations>
	<speed>
		<movement initialVertical="-3.5" vertical="-3.5f" horizontal="1.2"/>
		<physics initialFalling="0.0" falling="0.0" acceleration="0.15"/>
	</speed>
  </player>

  <map>
    <folder>maps/</folder>
  </map>  

</config>